<h1>Exitoso</h1>
<mat-card>
    <table>
        <tbody>
            <td>
                <tr>Imagen logo del supermercado</tr>
            </td>
            <td>
                <tr><b>No.</b> 1234567891</tr>
                <tr><b>Dirección:</b></tr>
                <tr>Direccion del supermercado</tr>
            </td>
        </tbody>
    </table>
</mat-card>
<mat-card>
    <table>
        <tbody>
            <td>
                <tr>Imagen logo del supermercado</tr>
            </td>
            <td>
                <tr><b>No.</b> 1234567891</tr>
                <tr><b>Dirección:</b></tr>
                <tr>Direccion del supermercado</tr>
            </td>
        </tbody>
    </table>
</mat-card>






