mat-card
{
  margin-top: 2%;
  margin-left: 1%;
  float: left;
}

h1{
  margin-top: 90px;
  text-align: center;
  color:#181763;
  font-weight: bold;
}

@media (min-width:320px) and (max-width:424px) and (min-height:560px) and (max-height: 850px)
{
  
  mat-card
  {
    margin: 5%;
    float: none;
  }

  h1{
    margin-top: 18%;
    font-size: 19px;
  }

}
