<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
    </head>
    <body>
        <div class="card">
            <mat-card>
                <mat-card-title>Registro de Tienda</mat-card-title>
                <form class="example-form">
                    <mat-form-field>
                        <input type="text" matInput placeholder="Supermercado"  autocomplete="off" required>
                    </mat-form-field>

                    <mat-form-field>
                        <input type="text" matInput placeholder="Direccion" [(ngModel)]="this.direccion" name="direccion" autocomplete="off" required>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <input type="email" matInput placeholder="Correo electronico" [(ngModel)]="this.email" name="email" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Responsable" [(ngModel)]="this.responsable" name="responsable" required>
                      </mat-form-field>
                    <br>
                    <mat-form-field>
                        <input type="Number" matInput placeholder="No. Contacto" [(ngModel)]="this.ncontacto" name="ncontacto" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Coordenada" [(ngModel)]="this.coordenada" name="coordenada" required>
                      </mat-form-field>
                    <br>
                    <mat-form-field>
                        <input type="number" matInput placeholder="Rango" [(ngModel)]="this.rango" name="rango" required>
                      </mat-form-field>   
                    

                    <div class="div-boton">
                        <button mat-raised-button class="btn" color="primary" (click)="rTienda()">Confirmar</button>
                    </div>
                </form>
            </mat-card> 
        </div>
    </body>
</html>
