<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Pay Fast</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle *ngFor="let co of componentes">
        <ion-item [routerLink]="co.redirectTo">
          <ion-icon [src]="co.icon" slot="end" size="medium"></ion-icon>
          <label>{{co.name}}</label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
