<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="light">
      <ion-title color="" >Pay Fast</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle *ngFor="let co of componentes">
        <ion-item [routerLink]="co.redirectTo">
          <ion-icon [name]="co.icon" slot="end" size="large" color="light"></ion-icon>
          <label>{{co.name}}</label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item (click)="compartir()">
          <ion-icon name="share-social" slot="end" size="large" color="light"></ion-icon>
          <label>Compartir</label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item (click)="logout()">
          <ion-icon name="log-out-outline" slot="end" size="large" color="light"></ion-icon>
          <label>Cerrar sesión</label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
