
  <ion-header class="ion-no-border"> 
    <div class="header" >
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </div>
  </ion-header>

<ion-content>
  
  <div class="Fondo">

    <!-- <div class="back">
      <button slot="start" (click)="Back()" class="btn-back">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </div> -->

    
      <button class="btn-ingresar" (click)="Login()">
        Ingresar
      </button>
      <button class="btn-registrar" (click)="registrarse()">
        Registrarse
      </button>
    

    <div class="opacidad">
      <div class="inputs">
        
          <h5>Ingresa tus Datos Personales</h5>
        
        <ion-item>
          <ion-input type="text" placeholder="NOMBRE" [(ngModel)]="this.nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="APELLIDO" [(ngModel)]="this.apellido"></ion-input>
        </ion-item>
        <ion-item>
          <ion-datetime placeholder="FECHA DE NACIMIENTO" displayFormat="MM/DD/YYYY" min="1950-01-01" max="2001-30-12" [(ngModel)]="this.fnacimiento"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label position="floating" >TIPO DE DOCUMENTO</ion-label>
          <ion-select ok-text="Aceptar" cancel-text="Cancelar" [(ngModel)]="this.tdocumento">
            <ion-select-option value="CC">Cedula de Ciudadania</ion-select-option>
            <ion-select-option value="CE">Cedula extranjera</ion-select-option>
          </ion-select>
        </ion-item>

      </div>
      <button class="btn-iniciarsesion" (click)="Registro()">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>

    </div>

  </div>
  
</ion-content>