
<ion-content class="background">
    
  <ion-button class="btn-ingresar" color="secondary" (click)="Login()">
    Ingresar
  </ion-button>
  <ion-button class="btn-registrar" color="primary" (click)="registrarse()">
    Registrarse
  </ion-button>
    

    <ion-card class="fondo">
      <ion-card-content>
        
          <h2>Ingresa tus datos personales</h2>
        
        <ion-item class="log">
          <ion-input type="text" placeholder="NOMBRE" [(ngModel)]="this.nombre"></ion-input>
        </ion-item>
        <ion-item class="log">
          <ion-input type="text" placeholder="APELLIDO" [(ngModel)]="this.apellido"></ion-input>
        </ion-item>
        <ion-item class="log">
          <ion-datetime placeholder="FECHA DE NACIMIENTO" 
            cancelText="Cancelar" doneText="Ok" 
            [dayShortNames]="customDayShortNames"
            displayFormat="DD MMM YYYY"
            monthShortNames="ene, feb, mar, abr, may, jun, jul, aug, sep, oct, nov, dic"  
            min="1950-01-01" max="2001-30-12"  
            [(ngModel)]="this.fnacimiento">
          </ion-datetime>
        </ion-item>

        <ion-item class="log">
          <ion-label position="floating" >TIPO DE DOCUMENTO</ion-label>
          <ion-select ok-text="Aceptar" cancel-text="Cancelar" [(ngModel)]="this.tdocumento">
            <ion-select-option value="CC">Cedula de Ciudadania</ion-select-option>
            <ion-select-option value="CE">Cedula extranjera</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-button color="primary" expand="block" class="margen" (click)="Registro()">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>

      </ion-card-content>
    </ion-card>
</ion-content>