ion-menu.md,
ion-menu.md ion-note {
  padding-left: 10px;

}


ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;
  color:#171762;
  height: 20%;
}

ion-list-header
{
  margin-bottom: 1%;
}


ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}


ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

ion-menu
{
  width: 15%;
}

ion-title
{
  font-size: 25px;
}


@media (max-width:767px){
  ion-menu
  {
    width: 100%;
  }
  
}