<ion-content>
  <div class="Fondo">
    <button class="btn-ingresar" (click)="Login()">
      Ingresar
    </button>
    <button class="btn-registrar" (click)="registrarse()">
      Registrarse
    </button>
    <div class="opacidad">
      <div class="inputs">
        <ion-item>
          <ion-input type="number" placeholder="NUMERO DE DOCUMENTO"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="email" placeholder="CORREO ELECTRONICO"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="CONTRASEÑA"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="CONFIRMAR CONTRASEÑA"></ion-input>
        </ion-item>
      </div>
      <button class="btn-iniciarsesion" (click)="Registro()">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>

    </div>

  </div>
  
</ion-content>