ion-content.background{
    --background: #fff url("../../../../assets/background/fondo-detalle.jpg") no-repeat bottom center / cover;
}

.titulo{
    color: #181763;
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 80%;
    margin-right: 15%;
}

ion-row.Theader{
    margin-top: 5%;
    background-color: rgba($color: #181763, $alpha: 1);
    color: white;
    font-weight: bold;
}

ion-row.Trow{
    border-top: 1px solid black;
    border-color: rgba($color: #181763, $alpha: 0.7);
}

ion-row.Ttotal{
    border-top: 1px solid black;
}

@media (prefers-color-scheme: dark){
    ion-row.Theader{
        margin-top: 5%;
        background-color: rgba($color: #a0a0a0, $alpha: 1);
        color: white;
        font-weight: bold;
    }

    ion-row.Trow{
        border-top: 1px solid black;
        border-color: rgba($color: #a0a0a0, $alpha: 0.7);
    }

    ion-row.Ttotal{
        border-top: 1px solid white;
    }

    ion-content.background{
        --background: #fff url('../../../../assets/background/fondo-detalle-dark.jpg') no-repeat bottom center / cover;
    }
}