<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="inicio()">
      <ion-icon name="home-sharp" color="light" ></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)=" historial()">
      <ion-icon name="receipt-sharp" color="light"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)=" perfil()">
      <ion-icon name="person-circle-sharp" color="light" size="large"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="tutorial()">
      <ion-icon name="information-circle-sharp" color="light" size="large"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
  
</ion-tabs>
