<ion-content>

  <div class="Fondo">

    <ion-slides pager="true">

      <ion-slide *ngFor="let slide of slides">

        <div class="slide-img">
          <img [src]="slide.img">
        
        </div>
        <div>
          <div class="opacidad">
            <div class="inputs">
              <h3 [innerHTML]="slide.titulo"></h3>
            </div>
          </div>
          <div [ngStyle]="{'display': slide.txtbtn}" class="inputs">
            <button  class="btn-siguiente" (click)="Inicio()">
              <ion-icon name="arrow-forward"></ion-icon>
            </button>
          </div>
        </div>

      </ion-slide>
    </ion-slides>
  </div>
</ion-content>

<ion-footer>
  
</ion-footer>