.inputs{
    padding-top: 3%;
    padding-bottom: 6%;
    margin: 10% 4% 0% 4%;
}


ion-item.log{
    width: 95%;
    margin-left: 2.5%;
    --highlight-height: 0;
    --background: transparent;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid #eeee;
    font-size: small;
    font-weight: lighter; 
}


.btn-siguiente
{
    border-radius: 17px;
    width: 46%;
    height: 15%;
    margin-top: 7%;
    margin-bottom: 7%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #171762;
    font-family: Arial;
    color: #ffff;
    font-size: x-large;   

}
ion-slide{
    display: block;
}
.slide-img{
    margin: 12%;
    
}
h3{
    font-weight: lighter;
    font-size: 15px;
    text-align: justify;
    color: #ffff;
}
ion-slides{
    --bullet-background: #75736d;
    --bullet-background-active:#15146a;
    --padding:10% 0% 0% 0%;
}
@media (prefers-color-scheme: dark) {
    ion-slides {
    --bullet-background: #75736d;
    --bullet-background-active:#acacad;
    --padding:10% 0% 0% 0%;
    }
  }


ion-label{
    color: #6a68f1;
    background-image: none;
    margin: 0% 38% 0% 43%;
}

img.imagenLight{
    display: inline;
}

img.imagenDark{
    display: none;
}

@media (prefers-color-scheme: dark) {
    img.imagenLight{
        display: none;
    }
    
    img.imagenDark{
        display: inline;
    }
}








ion-card.fondo {
    background-color: rgba(0, 0, 0, .27) ;
    border-radius: 17px;
    margin-left: 6.9%;
    margin-right: 6.9%;
}





ion-label.url{
    margin-top: 3%;
    --background: transparent;
    font-family: Arial;
    color: #ffff;
    width: 67%;
    height: 8.5%;
    margin-left: 20%;
    font-weight: bold;
    font-size: small;
}


ion-button.margen {
    margin: 0% 30% 30% 30%;
}



.image{
    height: 5%;
    margin-top: -1.5%;
    margin-left: 1%;
    position: fixed;
    font-size: 22px;
}

.texto{
    height: 10%;
    padding-right: 0px;
    margin-right: 0px;
}

ion-img{
    width: 10%;
    height: 80%;
}

.imag{
    width: 10%;
    height: 57%;
}

.imageg{
    height: 5%;
    margin-top: -0.4%;
    margin-left: 2%;
    position: fixed;
    font-size: large;
}

.btn-rec
{
    margin-top: 3%;
    background-color: transparent;
    font-family: Arial;
    color: #ffff;
    width: 67%;
    height: 8.5%;
    margin-left: 16%;
    font-weight: bold;
}
swiper-pagination swiper-pagination-bullets{
    padding-bottom: 50%;
}