<ion-content color="warning">

  

    <ion-slides pager="true">

      <ion-slide *ngFor="let slide of slides">

        <div class="slide-img">
          <img [src]="slide.img">
        </div>

        <ion-card class="fondo">
          <ion-card-content>
            <h3 [innerHTML]="slide.titulo"></h3>
          </ion-card-content>
  
        </ion-card>

        <div [ngStyle]="{'display': slide.txtbtn}">
          <ion-button color="primary" expand="block" class="margen" (click)="Inicio()">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-button>  
        </div>

      </ion-slide>
    </ion-slides>

    <ion-footer class="ion-no-border">
      <ion-label (click)="Inicio()">Omitir</ion-label>
    </ion-footer>


</ion-content>

<ion-footer>
  
</ion-footer>