<ion-content>
  <div class="Fondo">
    <button class="btn-ingresar" (click)="Login()">
      Ingresar
    </button>
    <button class="btn-registrar" (click)="registrarse()">
      Registrarse
    </button>
    <div class="opacidad">
      <div class="inputs">
        <ion-item>
          <ion-input type="text" placeholder="NOMBRES"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="APELLIDOS"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number" placeholder="NÚMERO DE TARJETA"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="date" placeholder="FECHA DE VENCIMIENTO (MM/AA)"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number" placeholder="CÓDIGO DE SEGURIDAD (CVV)"></ion-input>
        </ion-item>
      </div>
      <button class="btn-iniciarsesion" (click)="Inicio()">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>

    </div>

  </div>
  
</ion-content>