<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-grid class="titulo">
      <ion-row>
        <ion-col>
          <ion-label color="light">Metodo de Pago</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid> 
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-card *ngFor="let met of this.metodoPago">
    <ion-card-header><ion-text color="light">{{met.tipo}}</ion-text></ion-card-header>
    <ion-card-content (click)="Qr()">
      <ion-text>{{" Titular: "+met.nombre}}</ion-text>
      <ion-icon [name]="met.icon" size="large" color="light" slot="end"></ion-icon>
    </ion-card-content>
  </ion-card>
</ion-content>