<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
        
            <div class="card">
                <mat-card>
                <mat-card-title >Panel Pay Fast</mat-card-title>
                <mat-card-subtitle>Ingrese su correo electronico</mat-card-subtitle>
                <form class="example-form">
                    <p>
                        <mat-form-field>
                            <input type="email" matInput placeholder="Email">
                        </mat-form-field>
                    </p>
                    <div class="div-boton">
                        <button mat-raised-button class="btn" color="primary">Enviar</button>
                    </div>
                </form>
            </mat-card>
        </div>
    </body>
</html>
