.col{
    padding: 5% 0% 5% 0%;
}
.o1{
    background: #a900008f;
    height: 15%;
}
.o2{
    background: blue;
    height: 15%;
    
}
.o3{
    background: yellow;
    height: 15%;
    margin: 0% 5% 0% 5%;
}
.o4{
    background: pink;
    height: 200%;
    margin: 0% 0% 0% 5%;
}
.o5{
    background: gray;
    height: 200%;
    margin: 0% 5% 0% 0%;
}