<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menuId="first" contentId="main"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>

      <ion-col col-3>
        <p>Oferta 1</p>
      </ion-col>

    
      <ion-col col-9>
        <p>Oferta 2</p>

        <ion-row>
          <ion-col col-9>
            <p>Oferta 3</p>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p>Oferta 4</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p>Oferta 5</p>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
<app-tabs></app-tabs>