.card{
    height: 70%;
    width: 60%;
    text-align: center;
    margin: 12% 0% 0% 15%;
}

mat-form-field{
    margin-left: 5%;
    margin-top: 8%;
    width: 35%;
}

mat-card-title{
    color: #181763;
}
.btn{
    background: #181763;
}
button{
    width: 75%;
    margin-left: 5%;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 14px;
    padding: 5%;
    color: white;
    background-color: #181763;
    display: inline-block;
    border-radius: 3px;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

mat-form-field {
    background-color: white;
}
@media (min-width:320px) and (max-width:424px) and (min-height:560px) and (max-height: 850px){
    mat-form-field{
        width: 80%;
        margin: 3%
    }
    .card{
        height: 70%;
        width: 90%;
        text-align: center;
        margin: 20% 5% 0% 5%;
    }
    .btn{
        background: #181763;
    }
    button{
        width: 80%;
        margin-left: 0%;
    }
}
@media (min-width:768px) and (max-width:1024px) and (min-height:1024px) and (max-height: 1366px){
    mat-form-field{
        width: 80%;
        margin: 3%
    }
    .card{
        height: 70%;
        width: 90%;
        text-align: center;
        margin: 20% 5% 0% 5%;
    }
    .btn{
        background: #181763;
    }
    button{
        width: 80%;
        margin-left: 0%;
    }
}