.titulo{
    color: #181763;
    margin-left: 20%;
}

.fecha{
    font-size:13.5px;
    color: rgba($color: #181763, $alpha: 0.7);
    margin-left: 5%;
}

.supermercado{
    color: rgba($color: #181763, $alpha: 0.7);
    font-weight: bold;
}

ion-card{
    width: 100%;
}

ion-item{
    margin-top: 7%;
}