<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menuId="first" contentId="main"></ion-menu-button>
    </ion-buttons>
    <ion-grid class="titulo">
      <ion-row>
        <ion-col>
          <label>Historial de compras</label>
        </ion-col>
      </ion-row>
    </ion-grid>   
  </ion-toolbar>
</ion-header>

<ion-content id="main">

  <ion-item lines="none">
    <ion-grid>
      <ion-row>
          <label class="fecha">Fecha de la compra</label>
      </ion-row>
      <ion-row>
        <ion-card (click)="detalles()">
          <ion-card-content>
            <ion-grid>
              <ion-row class="supermercado">
                supermercado de la compra
              </ion-row>
              <ion-row>
                $000.000.00
              </ion-row>
            </ion-grid>   
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
<app-tabs></app-tabs>
