.titulo{ 
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 80%;
    margin-right: 15%;
    font-family: Lato;
}

.fecha{
    font-size: 15px;
    margin-left: 5%;
    opacity: 0.7;
    font-family: Lato;
}

.valor
{
    font-family: Lato;
    font-size: 15px;
}

ion-row.supermercado{
    opacity: 0.7;
    font-size: 15px;
    font-family: Lato;
}

ion-card{
    width: 100%;
}

ion-item{
    margin-top: 7%;
}

.histo{
    border-radius: 20px;
    border: 1px solid black;
}