<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-grid class="titulo">
      <ion-row>
        <ion-col>
          <ion-label color="light">Carrito de Compras</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid> 
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-content>

      <ion-grid>

        
        <ion-row>
          <ion-col>Producto</ion-col>
          <ion-col>Cantidad</ion-col>
          <ion-col>Precio</ion-col>
          <ion-col>Accion</ion-col>
        </ion-row>

        <ion-row class="Trow">
          <ion-col class="col">Producto</ion-col>
          <ion-col><input class="col1" type="number" min="1" max="99"></ion-col>
          <!-- <ion-col >
            <ion-button class="btn_2"><ion-icon name="add-outline" font-size="large"></ion-icon></ion-button>
            <ion-button class="btn_1"><ion-icon name="remove-outline" font-size="large"></ion-icon></ion-button>
          </ion-col> -->
          <ion-col class="col">$0.00</ion-col>
          <ion-col>
            <ion-button color="danger"><ion-icon name="trash-outline"></ion-icon></ion-button>
          </ion-col>
        </ion-row>

        <ion-row class="Ttotal">
          <ion-col>Sub Total</ion-col>
          <ion-col>$0.0</ion-col>
        </ion-row>

        <ion-row class="Ttotal">
          <ion-col>Total</ion-col>
          <ion-col>$0.00</ion-col>
        </ion-row>

      </ion-grid>
      
      <div class="center">
        <ion-button color="light" class="btn_c" (click)="scanner()">Agregar</ion-button>
        <ion-button color="primary" class="btn_c">Confirmar</ion-button>
    </div>
    </ion-card-content>
  </ion-card>
</ion-content>
