.titulo{ 
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 80%;
    margin-right: 15%;
    font-family: Lato;
}

ion-card{
    width: 100%;
}

ion-item{
    width: 95%;
    margin-left: 2.5%;
    margin-top: 7%;

    --highlight-height: 0;
    --background: transparent;
    border-bottom: 1px solid #eeee;
    font-size: small;
    font-weight: bold; 
}

ion-input{
    font-family: Lato;
    --placeholder-color: rgba(0,0,0, 0.5) ;
    --placeholder-opacity: 1;
    padding: 0%;
}

@media (prefers-color-scheme: dark){

    ion-input{
        --placeholder-color: rgba(255,255,255,0.5);
    }
}