<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="Salir()">
        <ion-icon color="light" name="close" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-grid class="titulo">
      <ion-row>
        <ion-col>
          <ion-label color="light">Cambiar Contraseña</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-buttons slot="end">
      <ion-button (click)="verficarContra()">
        <ion-icon color="light" name="checkmark-sharp" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card-content>
    <ion-item>
      <ion-input type="password" placeholder="CONTRASEÑA ACTUAL" [(ngModel)]="this.contrasenaA"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="NUEVA CONTRASEÑA" [(ngModel)]="this.contrasena"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="CONFIRMAR CONTRASEÑA" [(ngModel)]="this.contrasenaO"></ion-input>
    </ion-item>
  </ion-card-content>

</ion-content>
