.my-custom-menu {
    --width: 500px;
  }

ion-searchbar{
    margin-top: 5%;
}

.requerido{
    background: transparent;
    --background: transparent;
    padding: 0px;
    width: 10%;
    margin-left: 5%;
    margin-top: 3%;
    --color: #181763;
}

ion-button{
    margin: 0px;
    background: transparent;
    --background: transparent;
    --color: #181763;
}

