
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light" menuId="first" contentId="main"></ion-menu-button>
    </ion-buttons>
    <ion-searchbar color="dark" placeholder="Buscar..." (ionChange)="buscar( $event )"><ion-icon></ion-icon></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card *ngFor="let sup of this.supermercado | filtro: buscador">
      <ion-item>
        <ion-card-content (click)="scanerTrue()" class="supermercado">
          <img [src]="sup.smo_im" alt="" class="logo-sup">
          <button (click)="ofertaTrue()" class="ofertas"><ion-icon name="pricetags" color="light" size="large"></ion-icon></button>
        </ion-card-content>
      </ion-item>
    </ion-card>
</ion-content>
<app-tabs></app-tabs>



