<app-menu></app-menu>
<ion-header>
  <ion-toolbar>
    <button slot="start" class="requerido">
      <button (click)="menuAbrir()" class="boton">
        <ion-icon slot="icon-only" name="menu" size="large"></ion-icon>
      </button>
    </button>
    <ion-searchbar placeholder="Buscar..."><ion-icon></ion-icon></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <ion-card>
      <ion-item>
        <ion-card-content (click)="prueba()">
          <img src="" alt="">
          Nombre y logo del supermercado.
        </ion-card-content>
        <button slot="end"><ion-icon src="../../../assets/icon/etiqueta.svg" size="large"></ion-icon></button>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
<app-tabs></app-tabs>



