<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="Salir()">
        <ion-icon color="light" name="close" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-grid class="titulo">
      <ion-row>
        <ion-col>
          <ion-label color="light">Datos Personales</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="contactForm" (ngSubmit)="editarDatos()">
  <ion-card-content *ngFor="let usuario of this.datos">
    <ion-item>
      <ion-input type="text" placeholder="NOMBRE" formControlName="nombre" value="{{nombre.value}}"></ion-input>
    </ion-item>

    <div class="alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
      <div class="container-error-message" *ngIf="nombre.errors.required">
          <ion-icon slot="start" name="alert-circle-outline"></ion-icon> Este campo requerido
      </div>
      <div class="container-error-message" *ngIf="nombre.errors.maxlength">
        <ion-icon name="alert-circle-outline"></ion-icon> maximo 50 caracteres
      </div>
    </div>

    <ion-item>
      <ion-input type="text" placeholder="APELLIDO" formControlName="apellido" value="{{apellido.value}}"></ion-input>
    </ion-item>

    <div class="alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
      <div class="container-error-message" *ngIf="apellido.errors.required">
          <ion-icon slot="start" name="alert-circle-outline"></ion-icon> Este campo requerido
      </div>
      <div class="container-error-message" *ngIf="apellido.errors.maxlength">
        <ion-icon name="alert-circle-outline"></ion-icon> maximo 50 caracteres
      </div>
    </div>

    <ion-item>
      <ion-datetime placeholder="FECHA DE NACIMIENTO" formControlName="fnacimiento" displayFormat="MM/DD/YYYY" min="1950-01-01" max="2001-30-12" value="{{fnacimiento.value}}"></ion-datetime>
    </ion-item>

    <div class="alert-danger" *ngIf="fnacimiento.invalid && (fnacimiento.dirty || fnacimiento.touched)">
      <div class="container-error-message" *ngIf="fnacimiento.errors.required">
          <ion-icon slot="start" name="alert-circle-outline"></ion-icon> Este campo requerido
      </div>
      <div class="container-error-message" *ngIf="fnacimiento.errors.maxlength">
        <ion-icon name="alert-circle-outline"></ion-icon> maximo 50 caracteres
      </div>
    </div>

    <ion-item>
      <ion-label position="floating" >TIPO DE DOCUMENTO</ion-label>
      <ion-select ok-text="Aceptar" cancel-text="Cancelar" formControlName="tdocumento" value="{{tdocumento.value}}">
        <ion-select-option value="CC">Cedula de Ciudadanía</ion-select-option>
        <ion-select-option value="CE">Cedula extranjera</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="alert-danger" *ngIf="tdocumento.invalid && (tdocumento.dirty || tdocumento.touched)">
      <div class="container-error-message" *ngIf="tdocumento.errors.required">
          <ion-icon slot="start" name="alert-circle-outline"></ion-icon> Este campo requerido
      </div>
      <div class="container-error-message" *ngIf="tdocumento.errors.maxlength">
        <ion-icon name="alert-circle-outline"></ion-icon> maximo 50 caracteres
      </div>
    </div>

    <ion-item>
      <ion-input type="number" placeholder="NUMERO DE DOCUMENTO" formControlName="ndocumento" value="{{ndocumento.value}}"></ion-input>
    </ion-item>

    <div class="alert-danger" *ngIf="ndocumento.invalid && (ndocumento.dirty || ndocumento.touched)">
      <div class="container-error-message" *ngIf="ndocumento.errors.required">
          <ion-icon slot="start" name="alert-circle-outline"></ion-icon> Este campo requerido
      </div>
      <div class="container-error-message" *ngIf="ndocumento.errors.maxlength">
        <ion-icon name="alert-circle-outline"></ion-icon> maximo 50 caracteres
      </div>
    </div>

    <ion-item>
      <ion-input type="email" placeholder="CORREO ELECTRONICO" formControlName="email" value="{{email.value}}"></ion-input>
    </ion-item>

    <div class="alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
      <div class="container-error-message" *ngIf="email.errors.required">
          <ion-icon slot="start" name="alert-circle-outline"></ion-icon> Este campo requerido
      </div>
      <div class="container-error-message" *ngIf="email.errors.maxlength">
        <ion-icon name="alert-circle-outline"></ion-icon> maximo 50 caracteres
      </div>
    </div>
    <ion-button type="submit" color="primary" expand="block" class="margen" [disabled]="!contactForm.valid">
      Guardar
    </ion-button>
  </ion-card-content>
</form>
</ion-content>
