.titulo{ 
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-right: 20%;
    font-family: Lato;
}

ion-card{
    width: 100%;
}

ion-button{
    font-family: Lato;
    margin-top: 5%;
}

ion-item{
    width: 95%;
    margin-left: 2.5%;
    margin-top: 7%;

    --highlight-height: 0;
    --background: transparent;
    border-bottom: 1px solid #eeee;
    font-size: small;
    font-weight: bold; 
}
ion-input,  ion-datetime{
    --placeholder-color: rgba(0,0,0,0.5);
    --placeholder-opacity: 1;
    padding: 0%;
    font-family: Lato;
}

.alert-danger {
    font-family: Lato;
    color: #74000b;
    margin-left: 8px;
}

ion-select, ion-select-option{
    font-family: Lato;
}

@media (prefers-color-scheme: dark){

    ion-input,  ion-datetime{
        --placeholder-color: rgba(255,255,255,0.5);
    }

    .alert-danger {
        color: white;
    }
}