.titulo{ 
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 80%;
    margin-right: 15%;
    margin-top: 0%;
}
.col{
    padding: 5% 0% 5% 0%;
}
.o1{
    opacity: 70%;
    height: 20%;
}
.o2{
    background: #ea9f4a91;
    height: 20%;
    
}
.o3{
    background: #f9d03ea1;
    height: 20%;
    
}
.o4{
    --background: #35ff9f7d;
    height: 60%;
    margin: 0% 0% 0% 0%;
    opacity: 70%;
}
.o5{
    background: #c7e28982;
    height: 60%;
    margin: 0% 0% 0% 0%;
    opacity: 70%;
}
ion-grid{
    margin:-7% 0% 0% 0%;
}
p{
    text-align: center;
}
img{
    opacity: 50%;
    height: 100%;
    width: 100%;
}