<app-header></app-header>
<ion-content>

  <form [formGroup]="contactForm" (ngSubmit)="Rsupermercado()" class="form">
  <ion-card class="fondo">
    <ion-card-header>
      <ion-text color="primary">
        <ion-title>Registro de Supermercado</ion-title>
      </ion-text>
    </ion-card-header>
    <ion-card-content>
      <div class="form">
          <ion-grid>
            <ion-row>
              <ion-col>

                <ion-item>
                  <ion-label position="floating" color="primary" >Nombre</ion-label>
                  <ion-input type="text" formControlName="nombre" required></ion-input>
                </ion-item>

              </ion-col>
              <ion-col>

                <ion-item>
                  <ion-label position="floating" color="primary" >Responsable</ion-label>
                  <ion-input type="text" formControlName="responsable" required></ion-input>
                </ion-item>

              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>

                <ion-item>
                  <ion-label position="floating" color="primary" >Email</ion-label>
                  <ion-input type="mail" formControlName="email" required></ion-input>
                </ion-item>

              </ion-col>
              <ion-col class="file-col">
                  <ion-button class="file" formControlName="imagen">
                    Subir Imagen
                    <ion-icon name="image"></ion-icon>
                  </ion-button>
                
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating" color="primary" >Contraseña</ion-label>
                  <ion-input type="password" formControlName="contrasena" required></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label position="floating" color="primary" >Confirmar Contraseña</ion-label>
                  <ion-input type="password" formControlName="contrasena2"  required></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
        </ion-grid>

        <ion-button type="submit" color="primary" class="margen" color="light" expand="block" [disabled]="!contactForm.valid">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>

      </div>
    </ion-card-content>
  </ion-card>
</form>
</ion-content>
