<ion-content>
  <div class="Fondo">
    <button class="btn-ingresar">
      Ingresar
    </button>
    <button class="btn-registrar" (click)="registrarse()">
      Registrarse
    </button>
    <div class="opacidad">
      <div class="inputs">
        <ion-item>
          <ion-input type="text" placeholder="USUARIO"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="CONTRASEÑA"></ion-input>
        </ion-item>
      </div>
      <button class="btn-iniciarsesion">
        Iniciar Sesión
      </button>
      <button class="btn-google">
        Ingresar con Google
      </button>
      <button class="btn-facebook"><ion-icon name="logo-facebook" style="text-align: left;"></ion-icon>
        Ingresar con Facebook
      </button>
      <button class="btn-rec">
        ¿Has olvidado la contraseña?
      </button>
    
    </div>

  </div>
  
</ion-content>
