<ion-content>
  <div class="Fondo">
    <button class="btn-ingresar">
      Ingresar
    </button>
    <button class="btn-registrar" (click)="registrarse()">
      Registrarse
    </button>
    <div class="opacidad">
      <ion-item>
        <ion-input type="text" placeholder="USUARIO"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="CONTRASEÑA"></ion-input>
      </ion-item>
      <button class="btn-iniciarsesion">
        Iniciar Sesión
      </button>
    
    </div>

  </div>
  
</ion-content>
