<ion-content>
  <div class="Fondo">
    <button class="btn-ingresar">
      Ingresar
    </button>
    <button class="btn-registrar" (click)="registrarse()">
      Registrarse
    </button>
    <div class="opacidad">
      <div class="inputs">
        <ion-item class="log">
          <ion-input type="text"  placeholder="USUARIO" [(ngModel)]="this.correo" ></ion-input>
        </ion-item>
        <ion-item class="log">
          <ion-input type="password" placeholder="CONTRASEÑA" [(ngModel)]="this.contrasena" ></ion-input>
        </ion-item>
      </div>
      <button class="btn-iniciarsesion" (click)="ValidarUsu()" >
        Iniciar Sesión
      </button>
      <button class="btn-google">
        <div>
          <div class="imageg">
            <ion-icon src="../../../assets/icon/google-icon.svg"> </ion-icon>
          </div>
          <div class="texto">
            <label>Ingresar con Google</label>
          </div>
        </div>
      </button>
      <button class="btn-facebook">
        <div>
          <div class="image">
            <ion-icon src="../../../assets/icon/fc-icon.svg"></ion-icon>
          </div>
          <div class="texto">
            <label>Ingresar con Facebook</label>
          </div>
        </div>
      </button>
      <button class="btn-rec">
        ¿Has olvidado la contraseña?
      </button>   
    </div>

  </div>
</ion-content>


