.sidenav-container {
  height: 100%;
  background-color: white;
}

.sidenav {
  width: 200px;
  position: fixed;
  border: none;
  background-color: rgba(0,0,0,0.1);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header
{
  box-shadow: 0px 3px 17px rgba(0,0,0,0.5);
  color: #181763;
  background-color: white;
  padding: 0px;
  position: fixed;
}

.menu
{
  color: white;
  box-shadow: 0px 3px 17px rgba(0,0,0,0.5);
}

.content
{
  display: flex;
  justify-content: flex-end;
  width: 73%;
}

.usuario
{
  text-align: center;
}

.drop
{
  align-self: auto;
  padding: 0px;
}

mat-nav-list :hover
{
  background-color: rgba(255,255,255,0.6);
}

#size
{
  font-size: 40px;
  margin: 0px;
}

mat-grid-tile {
  background: lightblue;
}

@media (min-width:320px) and (max-width:424px) and (min-height:560px) and (max-height: 850px)
{
  
  .sidenav 
  {
    background-color: inherit;
  }

  span
  {
    font-size: 16px;
  }

  .menu
  {
    color: #181763;
    font-size: 16px;
  }

  .usuario
  {
    visibility: hidden;
  }

  #size
  {
    font-size: 27px;
  }

  mat-card
  {
    margin: 5%;
    float: none;
  }

  h1{
    margin-top: 5%;
    font-size: 19px;
  }

}

@media (min-width:300px) and (max-width:359px)
{
  .content
  {
    width: 32%;
  }
}

@media (min-width:500px) and (max-width:1023px)
{
  .content
  {
    width: 45%;
  }

  h1{
    margin-top: 4%;
  }
}

@media (min-width:769px) and (max-width:1543px)
{
  .content
  {
    width: 59%;
  }
}
