<ion-content class="background">

  <ion-card class="fondo">
    <ion-card-header>
      
      <ion-text color="primary">
        <ion-title>Panel Pay Fast</ion-title>
        <h5>Ingrese su Correo Electronico</h5>
      </ion-text>
      
    </ion-card-header>
    <ion-card-content>
      <div class="form">
        <ion-item>
          <ion-label position="floating" color="primary">Email</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-text color="primary">
            <p>Se enviara un mail con instrucciones para recuperar su cuenta</p>
          </ion-text>
        </ion-item>
          <ion-button color="primary" expand="block" class="margen">Iniciar Sesión</ion-button>
      </div>
        
    </ion-card-content>
  </ion-card>
  
</ion-content>
